{% extends 'base.twig' %}
{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-3">
                {% include '/_include/menu.twig' %}
            </div>
            <div class="col-9">

                {% if user is defined and user %}
                    <h1>Moje Články</h1>
                    {% if articles %}
                        <table class="table table-striped text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Název</th>
                                <th scope="col">Autorský tým</th>
                                <th scope="col">Stav</th>
                                <th scope="col">Téma článku</th>
                                <th scope="col">Vytvořeno</th>
                                <th scope="col">Soubory</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in articles %}
                                <tr>

                                    <th scope="row">{{ a.id }}</th>
                                    <td>{{ a.getName() }}</td>
                                    <td>{{ a.getAuthorsName() }}</td>
                                    <td>
                                        <strong>{{ a.getActualStatus() }}</strong>
                                        {% if a.getStatus() =='review_done' %}
                                            <a class="btn btn-outline-info" href="/author-recenze/{{ a.getId() }}">Zobrazit recenze</a>
                                        {% endif %}
                                        {% if a.getStatus() =='repair' %}
                                            <a class="btn btn-outline-info" href="/author-recenze/{{ a.getId() }}">Zobrazit recenze</a>
                                            <a class="btn btn-outline-info" href="/clanek/{{ a.getId() }}">Upravit článek</a>
                                        {% endif %}
                                    </td>

                                    <td>{{ a.getThemeName() }}</td>
                                    <td>{{ a.createdDate.format('d.m.Y') }}</td>
                                    <td><a class="btn btn-success" href="/article-files/{{ a.getId() }}"><i
                                                    class="fa fa-eye"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Nejsou tu žádné články</p>

                    {% endif %}


                {% endif %}


            </div>
        </div>

    </div>
{% endblock %}
