{% extends 'base.twig' %}
{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-3">
                {% include '_include/menu.twig' %}
            </div>
            <div class="col-9">

                {% if user is defined and user %}

                    <h1 class="text-center">Články</h1>

                    <h3>Nové</h3>
                    {% if newArticles %}
                        <table class="table table-striped text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Název</th>
                                <th scope="col">Autorský tým</th>
                                <th scope="col">Téma článku</th>

                                <th scope="col">Soubory</th>
                                <th scope="col">Recenzenti</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in newArticles %}
                                <tr>
                                    <td>{{ a.name }}</td>
                                    <td>{{ a.getAuthorsName() }}</td>
                                    <td>{{ a.getThemeName() }}</td>

                                    <td><a class="btn btn-success" href="/article-files/{{ a.getId() }}"><i
                                                    class="fa fa-eye"></i></a></td>
                                    <td>
                                        {% set form = formObject.createView %}
                                        {{ form_start(form,{'attr': {'id': a.id() }}) }}
                                        {{ form_widget(form.id_article,{'value':a.id}) }}
                                        {{ form_widget(form.users) }}
                                        {{ form_end(form) }}
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <small>Nejsou tu žádné články</small>

                    {% endif %}

                    <hr>
                    <h3>Čekající na rezenzi</h3>
                    {% if waitingArticles %}
                        <table class="table table-striped text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Název</th>
                                <th scope="col">Autorský tým</th>
                                <th scope="col">Téma článku</th>
                                <th scope="col">Vytvořeno</th>
                                <th scope="col">Soubory</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in waitingArticles %}
                                <tr class="mt-5">
                                    <td>{{ a.name }}</td>
                                    <td>{{ a.getAuthorsName() }}</td>
                                    <td>{{ a.getThemeName() }}</td>
                                    <td>{{ a.createdDate.format('Y-m-d H:i:s') }}</td>
                                    <td><a class="btn btn-outline-success" href="/article-files/{{ a.getID() }}"><i
                                                    class="fa fa-eye"></i></a></td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <small>Nejsou tu žádné články</small>

                    {% endif %}

                    <hr>
                    <h3>Hotové recenze</h3>
                    {% if reviewDone %}

                        <table class="table table-striped text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Název</th>
                                <th scope="col">Autorský tým</th>
                                <th scope="col">Téma článku</th>

                                <th scope="col">Vytvořeno</th>
                                <th scope="col">Soubory</th>
                                <th scope="col">Akce</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in reviewDone %}
                                <tr class="mt-5">
                                    <th>{{ a.id }}</th>
                                    <td>{{ a.name }}</td>
                                    <td>{{ a.getAuthorsName() }}</td>

                                    <td>{{ a.getThemeName }}</td>

                                    <td>{{ a.createdDate.format('Y-m-d H:i:s') }}</td>
                                    <td><a class="btn btn-success" href="/article-files/{{ a.getID() }}"><i
                                                    class="fa fa-eye"></i></a></td>
                                    <td>
                                        <a class="btn btn-block btn-outline-info" href="/clanek/{{ a.getID() }}">
                                            Upravit
                                        </a>
                                        <a class="btn btn-block btn-outline-success"
                                           href="/admin-recenze/{{ a.getID() }}">
                                            Zobrazit recenze
                                        </a>

                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <small>Nejsou tu žádné články</small>
                    {% endif %}

                    <hr>
                    <h3>Čekají na opravu</h3>
                    {% if toRepair %}
                        <table class="table table-striped text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Název</th>
                                <th scope="col">Autorský tým</th>
                                <th scope="col">Téma článku</th>

                                <th scope="col">Vytvořeno</th>
                                <th scope="col">Soubory</th>
                                <th scope="col">Akce</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in toRepair %}
                                <tr class="mt-5">
                                    <th>{{ a.id }}</th>
                                    <td>{{ a.name }}</td>
                                    <td>{{ a.getAuthorsName() }}</td>

                                    <td>{{ a.getThemeName }}</td>

                                    <td>{{ a.createdDate.format('Y-m-d H:i:s') }}</td>
                                    <td><a class="btn btn-success" href="/article-files/{{ a.getID() }}"><i
                                                    class="fa fa-eye"></i></a></td>
                                    <td>
                                        <a class="btn btn-block btn-outline-info" href="/clanek/{{ a.getID() }}">
                                            Upravit
                                        </a>
                                        <a class="btn btn-block btn-outline-success"
                                           href="/admin-recenze/{{ a.getID() }}">
                                            Zobrazit recenze
                                        </a>

                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <small>Nejsou tu žádné články</small>
                    {% endif %}

                    <hr>
                    <h3>Opravené</h3>
                    {% if repaired %}
                        <table class="table table-striped text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Název</th>
                                <th scope="col">Autorský tým</th>
                                <th scope="col">Téma článku</th>

                                <th scope="col">Vytvořeno</th>
                                <th scope="col">Soubory</th>
                                <th scope="col">Akce</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in repaired %}
                                <tr class="mt-5">
                                    <th>{{ a.id }}</th>
                                    <td>{{ a.name }}</td>
                                    <td>{{ a.getAuthorsName() }}</td>

                                    <td>{{ a.getThemeName }}</td>

                                    <td>{{ a.createdDate.format('Y-m-d H:i:s') }}</td>
                                    <td><a class="btn btn-success" href="/article-files/{{ a.getID() }}"><i
                                                    class="fa fa-eye"></i></a></td>
                                    <td>
                                        <a class="btn btn-block btn-outline-info" href="/clanek/{{ a.getID() }}">
                                            Upravit
                                        </a>
                                        <a class="btn btn-block btn-outline-success"
                                           href="/admin-recenze/{{ a.getID() }}">
                                            Zobrazit recenze
                                        </a>

                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <small>Nejsou tu žádné články</small>

                    {% endif %}
                    <hr>
                    <h3>Dokončené</h3>
                    {% if endArticles %}
                        <table class="table table-striped text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Název</th>
                                <th scope="col">Autorský tým</th>
                                <th scope="col">Téma článku</th>

                                <th scope="col">Vytvořeno</th>
                                <th scope="col">Soubory</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in endArticles %}
                                <tr class="mt-5">
                                    <th>{{ a.id }}</th>
                                    <td>{{ a.name }}</td>
                                    <td>{{ a.getAuthorsName() }}</td>

                                    <td>{{ a.getThemeName }}</td>

                                    <td>{{ a.createdDate.format('Y-m-d H:i:s') }}</td>
                                    <td><a class="btn btn-success" href="/article-files/{{ a.getID() }}"><i
                                                    class="fa fa-eye"></i></a></td>
                                    <td>{{ a.getActualStatus() }}
                                        <a class="btn btn-outline-info" href="/archive/{{ a.getId() }}">Archivovat</a>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <small>Nejsou tu žádné články</small>

                    {% endif %}

                {% endif %}


            </div>
        </div>

    </div>
{% endblock %}
