{% extends 'base.twig' %}
{% block body %}
    <div class="content">
    <div class="row">
    <div class="col-3">
        {% include '/_include/menu.twig' %}
    </div>
    <div class="col-9">


    <h1>Recenze k článku: {{ article.name }}</h1>
    {% if reviews %}
        <table class="table table-striped text-center">
            <thead class="thead-dark">
            <tr>

                <th scope="col">Recenzent</th>
                <th scope="col">Skore</th>
                <th scope="col">Komentář</th>
                <th scope="col">Schváleno</th>


            </tr>
            </thead>
            <tbody>
            {% for r in reviews %}
                <tr>
                    <td>{{ r.user.getFirstName() }} {{ r.user.getLastName() }}</td>
                    <td>{{ r.score }}</td>
                    <td>{{ r.comment }}</td>
                    <td>{% if r.approved==1 %}<span style="color: #83A342">ANO</span>{% else %}<span style="color: red">NE</span>{% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>žádné recenze tu nejsou</div>
    {% endif %}
    <a class="btn btn-outline-danger" href="/set-to-edit/{{ article.getId() }}"> Vrátit k opravě</a>
    <a class="btn btn-outline-info" href="/clanek/{{ article.getId() }}"> Upravit článek</a>
    <a class="btn btn-success" href="/approve-article/{{ article.getId() }}"> Schválit článek</a>
    <a class="btn btn-danger" href="/decline-article/{{ article.getId() }}"> Zamítnout článek</a>


{% endblock %}